---
import BaseLayout from "../layouts/BaseLayout.astro";

const { pageTitle } = Astro.props;

const identity = {
  firstName: "Eric",
  state: "New Jersey",
  occupation: "IT Specialist",
  hobbies: ["Running", "MMA", "Olympic Weightlifting", "Cooking"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "SQL",
  "Excel",
  "Power Apps",
  "Power Bi",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <h2>... and my new Astro site!</h2> -->

  <h2>Here are a few facts about me:</h2>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.state} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p><p></p><ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
