---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <!-- <ul>
    {
      allPosts.map((post) => (
        <>
          <BlogPost
            url={post.url}
            title={
              post.frontmatter.title +
              " " +
              post.frontmatter.pubDate.slice(0, 10)
            }
          />
        </>
      ))
    }
  </ul> -->

  <table>
    <tr>
      <th>Title</th>
      <th>Date Posted</th>
    </tr>
    <tr>
      <td>
        <ul>
          {
            allPosts.map((post) => (
              <>
                <BlogPost url={post.url} title={post.frontmatter.title} />
              </>
            ))
          }
        </ul></td
      >
      <td>
        <ul>
          {
            allPosts.map((post) => (
              <>
                <BlogPost
                  url={post.url}
                  title={post.frontmatter.pubDate.slice(0, 10)}
                />
              </>
            ))
          }
        </ul></td
      >
    </tr>
  </table>
</BaseLayout>
